@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

p {
  margin: 0;
}

.my-red {
  color: red;
  font-size: smaller;
}

.my-green {
  color: green;
  font-size: smaller;
}

.my-text-center {
  text-align:end
}

.income-color {
  color:#5DADE2
}

.expense-color {
  color: red;
}

.transaction-border-bottom{
  border-bottom: 1px solid #f0f0f0;
  border-radius: 0 0 2px 2px;
}

.parent-color {
  color:#636363;
  font-weight: 700;
  font-size: 70%;
}
